<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Maximum number in a list</title>
  <link rel="stylesheet" type="text/css" href="./js/lib/jasmine/jskoans-jasmine.css">

  <script type="text/javascript" src="./js/lib/angular/angular.js"></script>
  <script type="text/javascript" src="./js/lib/firebase/firebase.js"></script>

  <script type="text/javascript" src="./js/lib/jasmine/jasmine.js"></script>
  <script type="text/javascript" src="./js/lib/jasmine/jasmine-html.js"></script>
  <script type="text/javascript" src="./js/lib/jasmine/jskoans-jasmine-html.js"></script>

  <script type="text/javascript" src="./js/lib/underscore-min.js"></script>


  <script type="text/javascript" src="./js/find-missing-tests.js"></script>
  <script type="text/javascript" src="./js/find-missing.js"></script>

  <script type="text/javascript" src="./js/application.js"></script>
</head>
<body ng-app="BootCampSuite">
<script type="text/javascript">
  var lab_name = "missing_number";
  var moduleName = "Find Missing Number in two Lists";
</script>
<div ng-controller="SuiteCtrl">
  <blockquote ng-if="uid">
    <a href="#" ng-click="login();">Sign Out</a>
  </blockquote>
</div>
</body>
</html>